{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center" style="height: 80vh;">
    <div class="d-flex flex-column justify-content-center">
        <div class="border rounded login-register-box ">
            <h1 style="text-align: center;">Verify</h1>
            <form action="" method="post" novalidate class="login-register-form">
                {{ form.hidden_tag() }}

                <div class="d-flex justify-content-center" style="margin-top: 20px;">
                    <div class="input-group">
                        {{ form.code(size=16, placeholder='Enter Verification Code', class="form-control no-border
                        border-bottom") }}
                    </div>
                </div>

                <div style="margin-top: 10px;">
                    {{ form.submit(class="btn btn-primary submit-button") }}
                </div>

                <p style="padding: 20px; color: rgb(150, 158, 160);">Check your email for a verification code
                </p>

            </form>
        </div>
    </div>
</div>
{% endblock content %}